In [1]:
import yfinance as yf
import pandas as pd

# Stock tickers from the paper
tickers = {
    'NKE': 'Nike',
    'GS': 'Goldman Sachs',
    'JNJ': 'Johnson and Johnson',
    'PFE': 'Pfizer',
    'JPM': 'JP Morgan Chase'
}

all_data = {}

for ticker, name in tickers.items():
    data = yf.download(ticker, start="2009-04-05", end="2019-04-05")
    data.columns = data.columns.droplevel(1)
    data.columns.name = None
    data.reset_index(inplace=True)

    # Create new variables as per the paper
    data['H-L'] = data['High'] - data['Low']
    data['O-C'] = data['Close'] - data['Open']
    data['7_DAY_MA'] = data['Close'].rolling(window=7).mean()
    data['14_DAY_MA'] = data['Close'].rolling(window=14).mean()
    data['21_DAY_MA'] = data['Close'].rolling(window=21).mean()
    data['7_DAY_STD'] = data['Close'].rolling(window=7).std()
    
    all_data[ticker] = pd.DataFrame(data)

# Display sample from last ticker
all_data['JPM'].tail()

/var/folders/5y/3k771h3n08vgfqcjl7vts2yh0000gn/T/ipykernel_69763/2480738566.py:16: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, start="2009-04-05", end="2019-04-05")
[*********************100%***********************]  1 of 1 completed
/var/folders/5y/3k771h3n08vgfqcjl7vts2yh0000gn/T/ipykernel_69763/2480738566.py:16: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, start="2009-04-05", end="2019-04-05")
[*********************100%***********************]  1 of 1 completed
/var/folders/5y/3k771h3n08vgfqcjl7vts2yh0000gn/T/ipykernel_69763/2480738566.py:16: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, start="2009-04-05", end="2019-04-05")
[*********************100%***********************]  1 of 1 completed
/var/folders/5y/3k771h3n08vgfqcjl7vts2yh0000gn/T/ipykernel_69763/2480738566.py:16: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, start="2009-04-05", end="2019-04-05")
[*********************100%***********************]  1 of 1 completed
/var/folders/5y/3k771h3n08vgfqcjl7vts2yh0000gn/T/ipykernel_69763/2480738566.py:16: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker, start="2009-04-05", end="2019-04-05")
[*********************100%***********************]  1 of 1 completed

,Date,Close,High,Low,Open,Volume,H-L,O-C,7_DAY_MA,14_DAY_MA,21_DAY_MA,7_DAY_STD
2512,2019-03-29,83.870255,84.499919,83.340001,84.127091,14523400,1.159918,-0.256837,83.206270,85.326669,85.558060,1.088349
2513,2019-04-01,86.695488,86.728629,84.607641,84.632495,17499300,2.120989,2.062993,83.415764,85.362177,85.566346,1.574954
2514,2019-04-02,87.109741,87.358297,86.438649,86.662344,10295400,0.919649,0.447397,84.052535,85.406560,85.603826,2.045613
2515,2019-04-03,87.283714,88.120513,86.819750,87.664829,11499200,1.300763,-0.381115,84.812396,85.407151,85.652747,2.127082
2516,2019-04-04,88.126930,88.268860,87.200244,87.283735,11952100,1.068615,0.843196,85.575543,85.396364,85.757208,2.234037

In [2]:
for ticker, data in all_data.items():
    data.to_csv(f'./data/{ticker}_stock_data.csv', index=False)